.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

input, textarea, select, fieldset {
    margin-bottom: 0;
}

#toolbar, #ide {
    width: 100%;
    height: 100%;
}

.toolbar {
    padding: 5px 10px;
}

.treeview {
    width: 100%;
    height: 100%;
}

html .CodeMirror {
    height: 100%;
}

html .jstree-container-ul, html .jstree-node {
    width: 100%;
    height: 100%;
}

.editorToolbar {
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #f0f0f0;
    padding: 2px 4px;
    height: 36px;
}

.editorToolbar button {
    margin-bottom: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.editorCodemirror {
    height: calc(100% - 36px);
}

.editorTabContent {
    height: 100%;
}

html .vakata-context li>a {
    line-height: 1.5em;
}

html .vakata-context li>a>i:empty, html .vakata-context li>a>i, html .vakata-context li>a, html .vakata-context li>a, html .vakata-context li>a .vakata-contextmenu-sep {
    height: 1.5em;
}

html .vakata-context li>a>i:empty {
    width: 1.5em;
}

.buttons {
    text-align: right;
}

#workingfiles .collection .collection-item {
    line-height: 0.3em;
}

#left .collapsible-header {
    border-top: 1px solid lightgray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

