		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Toto' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'toto.name' | translate }}</th>
						<th><a class="btn btn-info" href='#/toto/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="toto in totos">
						<td>{{toto.name}}</td>
						<td><a class="btn btn-info" href="#/toto/no_primary_key_for_entity_Toto">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
